<nav class="navbar navbar-expand-lg">
  <h4 class="navbar-brand">Sistema Administrativo Mamute</h4>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-icon"></span>
    <span class="navbar-icon"></span>
    <span class="navbar-icon"></span>
  </button>

  <section class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav text-center">

      <li class="nav-item col">
        <%= link_to 'Vendas', root_path, class: 'nav_li' %>
      </li>

      <li class="nav-item col">
        <%= link_to 'Pedidos', requests_path, class: 'nav_li' %>
      </li>

      <li class="nav-item col">
        <div class="dropdown">
          <a class="navbar-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cadastro
          </a>

          <div class="dropdown-menu">
            <%= link_to 'De Estoque', products_path, class: 'dropdown-item' %>
            <hr />
            <%= link_to 'De Mercado', pucharses_path, class: 'dropdown-item' %>
          </div>
        </div>
      </li>

      <li class="nav-item col">
        <%= link_to 'Categorias', categories_path, class: 'nav_li' %>
      </li>

      <li class="nav-item col">
        <%= link_to destroy_user_session_path, method: :delete do %>
          <%= fa_icon 'arrow-right' %>
        <% end %> 
      </li>
    </ul>
  </section>
</nav>
