<%= form_for(request) do |f| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_group">
    <%= f.label :mesa %>
    <%= f.number_field :table, min: 0, placeholder: 'Número da mesa', class: 'form-control' %>
  </div>

  <br />

  <div class="form_group">
    <%= f.label :dono_da_comanda %>
    <%= f.text_field :owner, placeholder: 'Dono da comanda ou pessoas à mesa', class: 'form-control', required: true %>
  </div>

  <br />

  <div class="row">
    <div class="col-md-6 form-group">
      <%= f.label :Produto %>
      <%= f.collection_select :products, Product.order('name ASC'), :id, :name, {}, class: 'js-searchable form-control', multiple: true %>
    </div>

    <div class="form-group col-6">
      <%= f.label :quantidade %>
      <%= f.number_field :quantity, step: :any, class: 'form-control', multiple: true, required: true %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Salvar", class: 'btn btn-info' %>
  </div>
<% end %>


<style text="text/stylesheet">
  select {
    display: none;
  }
</style>