<section class="text-center">
  <h3>
    <%= image_tag '/market_house.png', alt: 'market image' %> 
    Gastos com mercado
    <%= image_tag '/market.png', alt: 'market image' %> 
  </h3>

  <hr />
    Aqui ficam cadastrados os gastos com mercado e/ou outros estabelecimentos
    para mantimento dos produtos!
  <hr />

  <%= search_form_for @q do |f| %>
    <section class="col-md-12 form-group">
      <%= f.label :nome %>
      <%= f.collection_select(:id_eq, Pucharse.all, :id, :name, {include_blank: 'Selecione'}, {class: 'form-control'}) %>
    </section>
    
    <%= f.submit 'Procurar', class: 'btn btn-dark' %>
  <% end %>

  <hr />

  <section class="pull-right">
    <%= link_to 'Cadastrar nova compra', new_pucharse_path, class: 'btn btn-info' %>
  </section>

  <br />

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Preço total da compra R$</th>
        <th>Data</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @pucharses.each do |pucharse| %>
        <tr>
          <td><%= pucharse.id %></td>
          <td><%= pucharse.name %></td>
          <td><%= pucharse.price %></td>
          <td><%= pucharse.created_at.strftime("%d/%m/%Y") %></td>
          <td><%= link_to 'Editar', edit_pucharse_path(pucharse) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @pucharses %>
</section>
