<!DOCTYPE html>
<html>
  <head>
    <title>Mamutebar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>

  <body>
    <% if notice %>
      <p class="alert alert-success fixed-bottom"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert alert-danger fixed-bottom"><%= alert %></p>
    <% end %>

    <% if user_signed_in? %>
      <header>
        <%= render 'shared/navbar' %>
      </header>
    <% end %>

    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
